# Research on the reliability of borrowers

**Brief description:** The customer is the credit department of the bank. It is necessary to understand whether the marital status and the number of children of the client affect the fact of repayment of the loan on time. Input data from the bank — statistics on the solvency of customers.

**Project objective:** See the relationship between the marital status, the number of children of the client and the fact of repayment of the loan on time. The results of the study will be taken into account when building a credit scoring model — a special system that evaluates the ability of a potential borrower to repay a loan to a bank.

**Description data**
- ``children`` — the number of children in the family
- ``days_employed`` — total work experience in days
- ``dob_years`` — client's age in years
- ``education`` — the level of education of the client
- ``education_id`` — identifier of the level of education
- ``family_status`` — marital status
- ``family_status_id`` — id of marital status
- ``gender`` — the gender of the client
- ``income_type`` — type of employment
- ``debt`` — whether there was a debt on repayment of loans
- ``total_income`` — monthly income
- ``purpose`` — the purpose of obtaining a loan

**Work plan**
1. Examine the data
2. Preprocessing the data
3. Analyze the data
4. Draw conclusions

## Learning general information about data

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('./datasets/data.csv')

In [4]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Data preprocessing

### Removing omissions

In [6]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [7]:
income_with_na_in_total = data[data['total_income'].isna()]['income_type'].unique()
income_with_na_in_total

array(['пенсионер', 'госслужащий', 'компаньон', 'сотрудник',
       'предприниматель'], dtype=object)

In [8]:
for income in income_with_na_in_total:
    median_for_income = data[data['income_type'] == income]['total_income'].median()
    data.loc[data['income_type'] == income, 'total_income'] = data.loc[data['income_type'] == income, 'total_income'].fillna(median_for_income)

### Handling abnormal values

In [9]:
data['days_employed'] = data['days_employed'].abs()
data['days_employed']

0          8437.673028
1          4024.803754
2          5623.422610
3          4124.747207
4        340266.072047
             ...
21520      4529.316663
21521    343937.404131
21522      2113.346888
21523      3112.481705
21524      1984.507589
Name: days_employed, Length: 21525, dtype: float64

In [10]:
data.groupby('income_type')['days_employed'].median()

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

Two types (unemployed and pensioners) have abnormally large values. It is difficult to correct such values, so let's leave them as they are.

In [11]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [12]:
data = data[~(data['children'] == -1) & ~(data['children'] == 20)]

In [13]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Deleting omissions (continued)

In [14]:
income_with_na_in_days = data[data['days_employed'].isna()]['income_type'].unique()
income_with_na_in_days

array(['пенсионер', 'госслужащий', 'компаньон', 'сотрудник',
       'предприниматель'], dtype=object)

In [15]:
for income in income_with_na_in_days:
    median_for_income = data[data['income_type'] == income]['days_employed'].median()
    data.loc[data['income_type'] == income, 'days_employed'] = data.loc[data['income_type'] == income, 'days_employed'].fillna(median_for_income)

In [16]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Changing data types

In [17]:
data['total_income'] = data['total_income'].astype('int')

### Handling duplicates

In [18]:
data['education'] = data['education'].str.lower()

In [19]:
data.duplicated().sum()

71

In [20]:
data = data.drop_duplicates()

### Categorization of data

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 and more — `'A'`.

In [21]:
def categorize_income(total_income):
    try:
        if total_income <= 30000:
            return 'E'
        elif 30000 < total_income <= 50000:
            return 'D'
        elif 50000 < total_income <= 200000:
            return 'C'
        elif 200000 < total_income <= 1000000:
            return 'B'
        else:
            return 'A'
    except:
        pass

In [22]:
data['total_income_category'] = data['total_income'].apply(categorize_income)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C

In [23]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Let's divide the goals of borrowers into the following categories:
- `'car operations'`,
- `'real estate transactions'`,
- `'holding a wedding'`,
- `'getting an education'`.

In [24]:
def categorize_purpose(purpose):
    try:
        if 'образован' in purpose:
            return 'getting an education'
        elif 'авто' in purpose:
            return 'car operations'
        elif 'жиль' in purpose or 'недвиж' in purpose:
            return 'real estate transactions'
        elif 'свадьб' in purpose:
            return 'holding a wedding'
    except:
        return 'no category'

In [25]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,real estate transactions
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,car operations
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,real estate transactions
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,getting an education
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,holding a wedding

### Step 3. Examine the data

In [26]:
def create_table_for_analysis(data, column):
    return data.pivot_table(index=column, values='debt', aggfunc=['count', 'sum', 'mean'])

Let's create a function to create a pivot table that displays the number of borrowers divided into groups of the selected column who had debts, the number of all borrowers and the average number of debtors for each group.

#### 3.1 Is there a relationship between the number of children and the repayment of the loan on time?

In [27]:
create_table_for_analysis(data, 'children')

          count   sum      mean
           debt  debt      debt
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

Above we got a table containing the following data:
- column 1 - the number of borrowers, grouped by the number of available children;
- column 2 - the number of borrowers who had debt;
- column 3 - the probability of debt depending on the number of children in the family.

**Output:** divide the data into 2 groups according to the amount of available data
- data on families who have from 1 to 3 children inclusive;
- data on families who have from 4 to 5 children inclusive.

We will not include families with 5 children, as there is very little data available.

You can see a trend in both groups that the more children there are, the more likely it is that the borrower will have a debt to repay the loan. But in this analysis, we did not include third-party facts, such as family status.

We also see that people who do not have children are more likely to take out loans.

#### 3.2 Is there a relationship between marital status and repayment of the loan on time?

In [28]:
create_table_for_analysis(data, 'family_status')

                       count  sum      mean
                        debt debt      debt
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

Above we got a table containing the following data:
- column 1 - the number of borrowers grouped by marital status;
- column 2 - the number of borrowers who had debt;
- сolumn 3 - probability of debt occurrence depending on marital status.

**Output:** according to the data obtained, it can be concluded that people who have a more free family status (Unmarried or civil marriage) are more likely to have a loan debt.

Widowers/widows take the least loans, and married people take the most loans.

#### 3.3 Is there a relationship between the income level and the repayment of the loan on time?

In [29]:
create_table_for_analysis(data, 'total_income_category')

                       count   sum      mean
                        debt  debt      debt
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

Above we got a table containing the following data:
- column 1 - the number of borrowers, grouped by income;
- column 2 - the number of borrowers who had debt;
- column 3 - the probability of debt depending on income.

**Output:** the dependence was not revealed, since the amount of data is very different for all groups, and the correlation is approximately in the same range, with the exception of data for group D and E. People with a very small income are more likely to be unable to repay the debt on time, and people with a lower-average income have the best chance of repaying the debt on time, but there is very little data on these groups, so it is difficult to draw conclusions.

According to the data obtained, it can be seen that the least loans are taken in groups A and E, that is, in bordering groups, the most loans are taken by people belonging to the middle class, that is, group C.

#### 3.4 How do different loan goals affect its repayment on time?

In [30]:
create_table_for_analysis(data, 'purpose_category')

                          count  sum      mean
                           debt debt      debt
purpose_category
car operations             4279  400  0.093480
getting an education       3988  369  0.092528
holding a wedding          2313  183  0.079118
real estate transactions  10751  780  0.072551

Above we got a table containing the following data:
- column 1 - the number of borrowers grouped by the purpose for which the loan was taken;
- column 2 - the number of borrowers who had debt;
- column 3 - the probability of debt depending on what to take out a loan for.

**Output:** people who take out a loan for car transactions or for education are more likely not to repay the debt in time than people who take out a loan for real estate transactions or for a wedding.

Most often, loans are taken for real estate transactions.

### Step 4: General output.

Data with *statistics on the solvency of customers* were received from the customer, the data was inappropriate for the analysis of the state, so after studying the data, we began to pre-process them.

During data preprocessing, the following actions were performed:
- the missing data in the borrowers' work experience and salary were filled in with a median value depending on the type of employment of the borrower;
- abnormal values in the data were processed;
- duplicates in the data have been processed;
- data types have been converted to the corresponding data types for columns;
- data on borrowers' salaries and their goals for taking out a loan were divided into categories.

**What was revealed:**
- the more children there are, the more likely it is that the borrower will have a debt to repay the loan;
- the more free family status the borrower has, the more likely it is that the borrower will have a debt to repay the loan;
- dependence on income level has not been identified;
- a loan for real estate transactions or a loan for a wedding has a lower risk of non-repayment of borrowed funds on time than a loan for car transactions or for education.

**Recommendations:**
- to improve the form of the borrower's data, specifically:
- to establish that the fields ``children``, ``days_employed``, ``dob_years``, ``education``, ``education_id``, ``family_status``, ``family_status_id``, ``gender``, ``income_type``, ``total_income``, ``purpose`` are required;
- set restrictions on the type of data entered (example: if you need to enter salary data in the field, then only non-negative numbers can be entered in this field);
- when building a credit scoring model, pay attention to the number of children the borrower has, his family status and the purpose for which the loan is taken, and also take into account the identified patterns.